@model List<ToDoList>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Yapılacaklar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Yapılacaklar Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Yapılacaklar ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz :
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    
                                    <th scope="col">Durum</th>

                                    <th scope="col">İçerik</th>
                                    <th scope="col">Tarih</th>

                                    <th scope="col">Eylemler</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        
                                        
                                        @if(item.Status)
                                        {
                                            <td>
                                                <a href="/ToDoList/ChangeToDoListStatusToFalse/@item.ToDoListId">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign"></span>
                                               </a>
                                            </td>

                                        }
                                        else
                                        {
                                            <td>
                                                <a href="/ToDoList/ChangeToDoListStatusToTrue/@item.ToDoListId">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign"></span>
                                               </a>
                                            </td>
                                        }

                                        <td>@item.Title</td>
                                        <td>@item.Date</td>

                                        <td><a href="/ToDoList/DeleteToDoList/@item.ToDoListId" class="btn btn-danger btn-round">Sil</a></td>
                                        <td><a href="/ToDoList/UpdateToDoList/@item.ToDoListId" class="btn btn-success btn-round">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/ToDoList/CreateToDoList/" class="btn btn-warning btn-round btn-border">Yeni Görev Ekle</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
