@model List<Testimonial>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Referanslar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Referanslar Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Referanslar ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz :
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ad</th>
                                    <th scope="col">Unvan</th>
                                    <th scope="col">Açıklama</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;

                                    <tr>

                                        <td>@count</td>
                                        <td>@item.NameSurname</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>

                                        <td>
                                            <a href="/Testimonial/DeleteTestimonial/@item.TestimonialId"
                                               class="btn btn-danger btn-round btn-border">Sil</a>
                                        </td>
                                        <td>
                                            <a href="/Testimonial/UpdateTestimonial/@item.TestimonialId"
                                               class="btn btn-info btn-round btn-border">Düzenle</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Testimonial/CreateTestimonial/"
                           class="btn btn-default btn-round btn-border">Yeni Referans Girişi</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
